xml/play1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person" type="personType"/>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="nameType" name="name"/>
      <xs:element name="profession" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="computer scientist"/>
            <xs:enumeration value="mathematician"/>
            <xs:enumeration value="cryptographer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element type="xs:string" name="first_name"/>
      <xs:element type="xs:string" name="last_name"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>